body {
	color: #333333;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 16px;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	margin-top: 30px;
	margin-bottom: 50px;
}

header > a {
	color: #888888;
	margin-right: 8px;
	padding: 4px;
	text-decoration: none;
	border: 1px solid gray;
}

footer {
	color: #888888;
	border-top: 1px solid #eeeeee;
}

.main-content {
	flex-grow: 1;
}

.portrait {
	width: 200px;
	height: 200px;
}

input {
	padding: 8px;
}
button {
	cursor: pointer;
	border: 1px solid #888888;
	background: #888888;
	color: white;
	padding: 8px;
}
